.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .control-icon {
    font-size: 72px;
    margin-bottom: 30px;
  }

  .login-form {
    width: 90%;
    max-width: 500px;
    font-size: 18px;
    padding: 40px;
    text-align: center;

    .form-title {
      margin-bottom: 20px;
    }

    .signup-button {
      margin-top: 20px;
    }
  }

  @media screen and (min-width: 768px) {
    .login-form {
      width: 600px;
      text-align: left;
    }
  }
}
